// footer start
footer.site-footer
    .site-wrapper

        .site-footer__logo-block
            a.site-logo(href="#")
                img(src="images/logo.png")
            a.btn.btn-blue--inverted-colors.js-leave-request(href="#") Оставить заявку
            .copyrights
                span Все права защищены. || 2012 - 2017 ©
                span Копирование фотоматериалов с сайта запрещено!

        .site-footer__services-block
            h3 Наши услуги:

            .services-block__services-container
                ul
                    li
                        a(href="#") Услуга 1
                    li
                        a(href="#") Услуга 2
                    li
                        a(href="#") Услуга 3
                    li
                        a(href="#") Услуга 4
                    li
                        a(href="#") Услуга 1
                    li
                        a(href="#") Услуга 2
                    li
                        a(href="#") Услуга 3
                    li
                        a(href="#") Услуга 4

                ul
                    li
                        a(href="#") Услуга 1
                    li
                        a(href="#") Услуга 2
                    li
                        a(href="#") Услуга 3
                    li
                        a(href="#") Услуга 4
                    li
                        a(href="#") Услуга 1
                    li
                        a(href="#") Услуга 2
                    li
                        a(href="#") Услуга 3
                    li
                        a(href="#") Услуга 4

        .site-footer__contacts-block
            h3 Наши контакты:

            a.contacts-block__phone(href="tel:+79214051080") <span>+7 921</span> 405-10-80
            a.contacts-block__phone(href="tel:+79523771292") <span>+7 952</span> 377-12-92
            .contacts-block__contacts-row
                .label Адрес:
                span.contacts-info г. Санкт-Петербург,<br>
                    | ул. Воздухоплавательная, 2

            .contacts-block__contacts-row
                span.label E-mail:
                a.contacts-info(href="mailto:info@virgruz.ru") info@virgruz.ru

            .developed Сайт разработан веб-студией <a href="http://www.pranaweb.ru" target="_blank">PRANA</a>
// footer end
    
script(src='./all.js', type='text/javascript')    
