nav.main-nav
    ul
        li.main-nav__menu-item.main-nav__menu-item--contacts
            a(href="#") Контакты
        li.main-nav__menu-item.main-nav__menu-item--new-buildings
            a(href="#") Новостройки
        li.main-nav__menu-item.main-nav__menu-item--estate-list
            a(href="#") Список ЖК
        li.main-nav__menu-item.main-nav__menu-item--done-buildings
            a(href="#") Готовые        
        li.main-nav__menu-item.main-nav__menu-item--stocks
            a(href="#") Акции
        li.main-nav__menu-item.main-nav__menu-item--investments
            a(href="#") Инвестиции    
        li.main-nav__menu-item.main-nav__menu-item--about
            a(href="#") О компании
        li.main-nav__menu-item.main-nav__menu-item--news
            a(href="#") Новости недвижимости    
        li.main-nav__menu-item.main-nav__menu-item--reviews
            a(href="#") Отзывы
