// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-person-name: 's-person';
$s-person-x: 0px;
$s-person-y: 0px;
$s-person-offset-x: 0px;
$s-person-offset-y: 0px;
$s-person-width: 43px;
$s-person-height: 43px;
$s-person-total-width: 115px;
$s-person-total-height: 70px;
$s-person-image: 'images/sprite.png';
$s-person: (0px, 0px, 0px, 0px, 43px, 43px, 115px, 70px, 'images/sprite.png', 's-person', );
$s-prana-name: 's-prana';
$s-prana-x: 0px;
$s-prana-y: 53px;
$s-prana-offset-x: 0px;
$s-prana-offset-y: -53px;
$s-prana-width: 27px;
$s-prana-height: 17px;
$s-prana-total-width: 115px;
$s-prana-total-height: 70px;
$s-prana-image: 'images/sprite.png';
$s-prana: (0px, 53px, 0px, -53px, 27px, 17px, 115px, 70px, 'images/sprite.png', 's-prana', );
$s-slider-next-name: 's-slider__next';
$s-slider-next-x: 53px;
$s-slider-next-y: 0px;
$s-slider-next-offset-x: -53px;
$s-slider-next-offset-y: 0px;
$s-slider-next-width: 26px;
$s-slider-next-height: 42px;
$s-slider-next-total-width: 115px;
$s-slider-next-total-height: 70px;
$s-slider-next-image: 'images/sprite.png';
$s-slider-next: (53px, 0px, -53px, 0px, 26px, 42px, 115px, 70px, 'images/sprite.png', 's-slider__next', );
$s-slider-prev-name: 's-slider__prev';
$s-slider-prev-x: 89px;
$s-slider-prev-y: 0px;
$s-slider-prev-offset-x: -89px;
$s-slider-prev-offset-y: 0px;
$s-slider-prev-width: 26px;
$s-slider-prev-height: 42px;
$s-slider-prev-total-width: 115px;
$s-slider-prev-total-height: 70px;
$s-slider-prev-image: 'images/sprite.png';
$s-slider-prev: (89px, 0px, -89px, 0px, 26px, 42px, 115px, 70px, 'images/sprite.png', 's-slider__prev', );
$spritesheet-width: 115px;
$spritesheet-height: 70px;
$spritesheet-image: 'images/sprite.png';
$spritesheet-sprites: ($s-person, $s-prana, $s-slider-next, $s-slider-prev, );
$spritesheet: (115px, 70px, 'images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
