extends layout/site-layout
include modules/mixins

append config
    - var PageTitle         = "Цены"
    - var MetaDesc          = "Meta Description for current page!!!"
    - var jQuery            = true
    - var updateBodyClass   = BodyClasses.push( 'extraclass', 'secondclass' )
    - var thisPage          = "Scaffold Startup"
    - var PageTitle         = PageTitle.concat(' | ' + thisPage)
    
block content
    // breadcrumbs section starts
    section.breadcrumbs
        .site-wrapper
            ul
                +navListItem( "Главная" )
                li
                    a.active( href="#" ) Цены
    // breadcrumbs section ends
    // content section start
    section#prices-section.prices-section
        .site-wrapper
            h1 Цены
            p Наша компания предлагает максимально качественные такелажные работы в СПб, стоимость которых вас приятно удивит. На данной странице вы можете ознакомиться с нашим прайс-листом и понять, что более выгодное предложение сложно найти. С нами любой переезд — это просто, быстро и не очень дорого!
            p <strong>Стоимость выполнения такелажных работ</strong> зависит от многих факторов:
            ul
                li срочность заказа;
                li время выполнения такелажных работ;
                li наличие и количество ступенек, порогов;
                li наличие и размеры дверных, оконных проемов;
                li высота подъема оборудования;
                li габариты оборудования;
                li и многое другое.
            p Поэтому точную стоимость выполнения такелажных работ невозможно определить "сходу". В таблицах, приведенных ниже, указаны примерные расценки на наши услуги. Для оценки стоимости наших услуг (такелажных работ, стропальных работ, квартирного переезда, офисного переезда, услуг такелажников, грузчиков, перевозки сейфов, перевозки пианино), Вы можете проконсультироваться по телефонам на сайте и пригласить нашего мастера на место проведения работ (выезд специалиста - бесплатно).
            h2.prices-header Цены на такелажные работы
            table
                thead
                    tr
                        th Наименование услуги
                        th Цена, рублей в час
                        th Минимальный заказ, часов
                        th Стоимость
                        th Безнал. расчет
                tbody
                    tr
                        td Стропальщики
                        td 500
                        td Смена (7+1)
                        td 4000
                        td +НДС
                    tr
                        td Такелажники
                        td 500
                        td Смена (7+1)
                        td 5600
                        td +НДС
                    tr
                        td Бригада такелажников (4 чел.)**
                        td 2800
                        td Смена (7+1)
                        td 22400
                        td +НДС
                    tr
                        td Ответственный за проведение работ
                        td 1200
                        td Смена (7+1)
                        td 9600
                        td +НДС
                    tr
                        td(colspan="5")
                            ul
                                li Все специалисты имеют соответствующие удостоверения.
                                li Заказ такелажной бригады желательно делать за сутки.
                                li Стоимость работ может меняться в большую или меньшую сторону, в зависимости от сложности.
                                li Компания "ВИРА ГРУПП" берет ответственность за сохранность груза.
                                li Выезд специалиста для осмотра: БЕСПЛАТНО.

    // content section end