/* helpers classes */
input {
  transition: box-shadow 1s;
}

a:focus {
  outline: none;
}
i {
  display: inline-block;
}

ul,
ol {
  margin-bottom: 16px;
  margin-left: 20px;

  li {
    padding-left: 20px;
  }
}

ul {
  li {
    position: relative;

    &:before {
      @include position( absolute, 0 null null 0 );
      content: '•';
      display: block;
      color: #103b8a;
    }
  }
}

/*********************************************
 * Basic site layout
 *********************************************/
body {

}

.site-wrapper {
  @include outer-container-fixed( 1250px );
  min-width: 1250px;
  position: relative;
}
