/*********************************************
 * Navigation Styles
 *********************************************/
/*********************************************
 * Main top navigation
 *********************************************/
$nav-bg-color: transparent;
$item-haf-bg: #4F8FCA;

$menu-link-1l-fz: 14px;
$menu-link-2l-fz: 12px;
$menu-btn-fz: 12px;

.site-nav {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: $nav-bg-color;
  z-index: 10;

  ul,
  ul li,
  ul li a,
  #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &:after,
  & > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  & > ul > li {
    float: left;

    &:before {
      content: '';
    }
  }

  & > ul > li > a {
    padding: 17px 13px;
    font-size: $menu-link-1l-fz;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

    @include haf-pseudo {
      background: $item-haf-bg;
    }
  }

  #menu-button {
    display: none;
  }

  &.align-center {
    & > ul {
      font-size: 0;
      text-align: center;
    }

    & > ul > li {
      display: inline-block;
      float: none;
    }

    ul ul {
      text-align: left;
    }

  }

  &.align-right > ul > li {
    float: right;
  }


  & > ul > li:hover > a {
    color: #ffffff;
  }

  & > ul > li.has-sub > a {
    padding-right: 30px;
  }

  & > ul > li.has-sub > a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #fff;
    content: '';
  }
  & > ul > li.has-sub > a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #fff;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
  & > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0;
  }
  & ul ul {
    background: #1E2D73;
    position: absolute;
    left: -9999px;
  }
  &.align-right ul ul {
    text-align: right;
  }
  & ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;

    &:before {
      content: '';
    }
  }
  & li:hover > ul {
    left: auto;
  }
  &.align-right li:hover > ul {
    left: auto;
    right: 0;
  }
  & li:hover > ul > li {
    height: 35px;
  }
  & ul ul ul {
    margin-left: 100%;
    top: 0;
  }
  &.align-right ul ul ul {
    background: #1E2D73;
    margin-left: 0;
    margin-right: 100%;
  }

  & ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: $menu-link-2l-fz;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    background: $nav-bg-color;
    background: #1E2D73;

    @include haf-pseudo {
      background: $item-haf-bg;
    }
  }
  & ul ul li:last-child > a,
  & ul ul li.last-item > a {
    border-bottom: 0;
  }
  & ul ul li:hover > a,
  & ul ul li a:hover {
    color: #ffffff;
  }
  & ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #fff;
    content: '';
  }
  &.align-right ul ul li.has-sub > a:after {
    right: auto;
    left: 11px;
  }
  & ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #fff;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
  &.align-right ul ul li.has-sub > a:before {
    right: auto;
    left: 14px;
  }
  & ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0;
  }
}