/*********************************************
 * Navigation Styles
 *********************************************/
/*********************************************
 * Main top navigation
 *********************************************/
.main-nav {
    width: 100px;
    position: fixed; //-

    ul {
        // &:before {
        //     top: 0;
        //     left: 0;
        //     display: block;
        //     @include size(100px);
        //     content: '';
        //     background-color: #eaecf0;
        // }

        li {
            display: block;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 10px;
            transition: background .5s;
            &:first-child {
                // margin-top: 20px; //-
                @include size(100px);
                background-color: #eaecf0;
            }

            &:not(:first-child) {
                // margin-bottom: 20px; //-

                &:hover {
                    background: #5594D2;

                    a,
                    a.active {
                        color: #fff!important;
                    }

                }
            }

            a {
                position: relative;
                display: block;
                text-transform: uppercase;
                //margin-bottom: 20px; //-
                font-family: 'Roboto Regular', sans-serif;
                font-size: 12px;
                text-decoration: none;

                &:before {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }

            }

            &.main-nav__menu-item--new-buildings a:before {
                @include sprite( $s-main-nav-new-buildings );
            }

            &.main-nav__menu-item--new-buildings:hover a:before {
                @include sprite( $s-main-nav-new-buildings-white );
            }

            &.main-nav__menu-item--estate-list a:before {
                @include sprite( $s-main-nav-estate-list );
            }

            &.main-nav__menu-item--estate-list:hover a:before {
                @include sprite( $s-main-nav-estate-list-white );
            }

            &.main-nav__menu-item--done-buildings a:before {
                @include sprite( $s-main-nav-done-buildings );
            }

            &.main-nav__menu-item--done-buildings:hover a:before {
                @include sprite( $s-main-nav-done-buildings-white );
            }

            &.main-nav__menu-item--stocks a:before {
                @include sprite( $s-main-nav-stocks );
            }

            &.main-nav__menu-item--stocks:hover a:before {
                @include sprite( $s-main-nav-stocks-white );
            }

            &.main-nav__menu-item--investments a:before {
                @include sprite( $s-main-nav-investments );
            }

            &.main-nav__menu-item--investments:hover a:before {
                @include sprite( $s-main-nav-investments-white );
            }

            &.main-nav__menu-item--about a:before {
                @include sprite( $s-main-nav-about );
            }

            &.main-nav__menu-item--about:hover a:before {
                @include sprite( $s-main-nav-about-white );
            }

            &.main-nav__menu-item--reviews a:before {
                @include sprite( $s-main-nav-reviews );
            }

            &.main-nav__menu-item--reviews:hover a:before {
                @include sprite( $s-main-nav-reviews-white );
            }

            &.main-nav__menu-item--news a:before {
                @include sprite( $s-main-nav-news );
            }

            &.main-nav__menu-item--news:hover a:before {
                @include sprite( $s-main-nav-news-white );
            }
        }

        // Pulse button
        .main-nav__menu-item--contacts a {
            padding-top: 60px;
            background-color: #eaecf0;

            &:before {
                position: relative;
                margin-top: -60px;
                display: block;
                @include size( 46px );
                border: none;
                border-radius: 50%;
                background: #5a99d4 url( 'images/icons/main-nav__contacts-phone.png' ) center center no-repeat;
                cursor: pointer;
                box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
                -webkit-animation: pulse 1.5s infinite;
                margin-bottom: 10px;

                &:hover {
                    -webkit-animation: none;
                }
            }
        }


        // Pulse animation
        @-webkit-keyframes pulse {
            0% {
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
            }

            70% {
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -webkit-transform: scale(1);
                transform: scale(1);
                box-shadow: 0 0 0 12px rgba(90, 153, 212, 0);
            }

            100% {
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
                box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
            }
        }
    }

    // styles for fixed top navigation

    // &--fixed {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     z-index: 100;
    // }
}
