/*********************************************
 * Contacts Page Styles
 *********************************************/
/*********************************************
 * Contacts section
 *********************************************/
section.contacts-section {
  padding: 30px 0 40px;

  h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 26px;
  }
}

.contacts-blocks-container {
  @include outer-container( 1250px );

  .contacts-block {
    @include span-columns ( 6 );
    @include omega( 2 );

    h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 18px;
    }

    .contacts-list {
      font-size: 16px;
    }

    .contacts-row {
      margin-bottom: 5px;
    }

    .contacts-row__contacts-label {
      color: #103889;
      font-weight: bold;
      margin-right: 8px;
    }
  }
}

section.yandex-map-block {
  padding-top: 40px;

  h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
}
#yandex-map {
  @include size( 100% 400px );
}