/*********************************************
 * Photo-galleries Page Styles
 *********************************************/
/*********************************************
 * Photo-galleries section
 *********************************************/
section.photo-galleries-section {
  padding: 30px 0 50px;

  h1 {
    font-size: 28px;
    margin-bottom: 34px;
    text-align: center;
  }
}