/*********************************************
 * Buttons Styles
 *********************************************/
.btn {
  width: 100%;
  border: 2px solid #fff;
  text-align: center;
  padding: 6px;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 18px;
}

.btn-blue {
  background: #103889;

  @include haf-pseudo {
    color: #fff;
    background: darken( $light-blue, 10% );
  }

  &.btn-blue--smooth-hovered {
    @include haf-pseudo {
      color: #fff;
      background: lighten( #103889, 10% );
    }
  }

  &.btn-blue--blue-bordered {
    border: 2px solid #5091CD;

    @include haf-pseudo {
      color: #fff;
      background: #5091CD;
    }
  }
}

.btn-blue--inverted-colors,
input.btn-blue--inverted-colors[type="submit"] {
  background: #5091cd;
  border: 2px solid #103889;

  @include haf-pseudo {
    color: #fff;
    background: #103889;
    border: 2px solid #fff;
  }
}