section.find-way-out
    .find-way-out__feedback-form
        a.btn--find-way(href="#") Подсказать путь
    .find-way-out__site-search
        p Вы также можете воспользоваться нашим поиском по сайту!
        .site-serach__search-block
            span.search-block__start-search Начать поиск
            i.start-search-arrow
            .search-block__search
                form.search-bar( role="search" )
                    input( type="search", placeholder="Поиск" )
                    button.controllable-bigger.three-dee( type="submit" )
                        i.icon-search
