mixin estateCarouselItems()
    .estate-carousel__estate-item     
        .estate-item__estate-image
            a.click(href="#")
                img(src="images/mockup/estate__skladovskaya.jpg")
        .estate-item__estate-info
            .estate-info__estate-description
                span.estate-header Северная палитра
                span.subway <span>Метро:</span> <span>Девяткино</span>
                span.deadline <span>Срок сдачи:</span> <span>IV квартал 2016</span>
                span.region <span>Район:</span> <span>Всеволожский</span>
            .estate-info__flats-info
                span <span>Студии:</span> <span>от 2,02 млн. руб.</span>
                span <span>1 комн.:</span> <span>от 2,36 млн. руб.</span>
                span <span>2 комн.:</span> <span>от 3,29 млн. руб.</span>
                span <span>3 комн.:</span> <span>от 4,33 млн. руб.</span>
                
    .estate-carousel__estate-item     
        .estate-item__estate-image
            a.click(href="#")
                img(src="images/mockup/estate__tridevyatkino.jpg")
        .estate-item__estate-info
            .estate-info__estate-description
                span.estate-header Муринский посад
                span.subway <span>Метро:</span> <span>Девяткино</span>
                span.deadline <span>Срок сдачи:</span> <span>IV квартал 2016</span>
                span.region <span>Район:</span> <span>Всеволожский</span>
            .estate-info__flats-info
                span <span>Студии:</span> <span>от 2,02 млн. руб.</span>
                span <span>1 комн.:</span> <span>от 2,36 млн. руб.</span>
                span <span>2 комн.:</span> <span>от 3,29 млн. руб.</span>
                span <span>3 комн.:</span> <span>от 4,33 млн. руб.</span> 
        
mixin interestingOfferslItems()
    .offers-carousel__offers-carousel-item
        span.offers-carousel-item__offer-title 1 комнатная<br> квартира
        img.offers-carousel-item__offer-image(src="images/interesting-offer__slide-01.jpg")
        span.offers-carousel-item__offer-square 66.05 м<sup>2</sup>
        span.offers-carousel-item__offer-price 8.4 млн. руб.  
                
    .offers-carousel__offers-carousel-item
        span.offers-carousel-item__offer-title 1 комнатная<br> квартира
        img.offers-carousel-item__offer-image(src="images/interesting-offer__slide-02.jpg")
        span.offers-carousel-item__offer-square 66.05 м<sup>2</sup>
        span.offers-carousel-item__offer-price 8.4 млн. руб.
        
    .offers-carousel__offers-carousel-item
        span.offers-carousel-item__offer-title 2 комнатная<br> квартира
        img.offers-carousel-item__offer-image(src="images/interesting-offer__slide-01.jpg")
        span.offers-carousel-item__offer-square 66.05 м<sup>2</sup>
        span.offers-carousel-item__offer-price 8.4 млн. руб.
